<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value="packages" />
	</config>
	<packageSources>
    <clear />
	<add key="ThisPC" value="http://192.168.10.180:8080/nuget/LocalFeed/v3/index.json" allowInsecureConnections="true"/>
    <add key="nuget.org" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
</packageSources>
</configuration>
