<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="stocksharp" type="StockSharp.Studio.Core.Configuration.StudioSection, StockSharp.Studio.Core"/>
    </configSections>

    <appSettings>
        <add key="disableUIIssue" value="true"/>
        <add key="maxDepth" value="10"/>
        <add key="disableExpect100Continue" value="true"/>
        <add key="transportAdapter" value="StockSharp.Fix.FixMessageAdapter, StockSharp.Fix"/>
    </appSettings>

    <stocksharp>
        <customCandles/>
        <customIndicators/>

        <toolControls>
            <control type="StockSharp.Studio.Controls.LogManagerPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.PortfoliosPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.ExchangeEditorPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.MarketDataPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.RiskPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.StudioAlertSchemasPanel, StockSharp.Studio.Controls"/>
        </toolControls>

        <strategyControls>
            <control type="StockSharp.Studio.Controls.SecuritiesPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.Level1Panel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.BuySellGridPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.ScalpingMarketDepthControl, StockSharp.Studio.Controls"/>
            <!--<control type="StockSharp.Studio.Controls.PortfoliosPanel, StockSharp.Studio.Controls"/>-->
            <control type="StockSharp.Studio.Controls.InteractiveChart, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.EquityCurveChartPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.MyTradesTable, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.OrdersPanel, StockSharp.Studio.Controls"/>
            <!--<control type="StockSharp.Studio.Controls.OrdersConditionalPanel, StockSharp.Studio.Controls"/>-->
            <control type="StockSharp.Studio.Controls.PositionsPanel, StockSharp.Studio.Controls"/>
            <!--<control type="StockSharp.Studio.Controls.StatisticsPanel, StockSharp.Studio.Controls"/>-->
            <control type="StockSharp.Studio.Controls.TradesPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.PositionChartPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.PropertiesPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.NewsPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.OptionPositionChartPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.OptionDeskPanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.OptionVolatilitySmilePanel, StockSharp.Studio.Controls"/>
            <control type="StockSharp.Studio.Controls.OrderLogPanel, StockSharp.Studio.Controls"/>
        </strategyControls>
    </stocksharp>
</configuration>